.container_profileCardQuote{
  position: relative;
  z-index: 1;
  background: white;
  border-radius: 1rem;
  padding: 58px 24px;
  font-size: 14px;
  text-align: center;
  align-content: center;
  height: 310px;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    box-shadow: 101px 240px 73px rgba(112, 121, 210, 0.01),
                64px 154px 67px rgba(112, 121, 210, 0.04),
                36px 87px 56px rgba(112, 121, 210, 0.15),
                16px 38px 42px rgba(112, 121, 210, 0.26),
                4px 10px 23px rgba(112, 121, 210, 0.29);
  }
  @media screen and (max-width: 640px){
    height: fit-content;
    &::before {
      box-shadow: 101px 240px 73px rgba(112, 121, 210, 0.005),
                  64px 154px 67px rgba(112, 121, 210, 0.02),
                  36px 87px 56px rgba(112, 121, 210, 0.075),
                  16px 38px 42px rgba(112, 121, 210, 0.13),
                  4px 10px 23px rgba(112, 121, 210, 0.145);
    }
  }

}