# Environnements & fichiers temporaires
.env
__pycache__/
*.pyc
*.zip

# Dossiers de packaging Lambda
/dist

# AWS SAM
.aws-sam/
backend-cloud/.aws-sam/

# IDE & OS
.vscode/
.DS_Store
env/*
fecthtoken.py

.DS_Store
.gitignore
