.container__profilCard{
    width: 310px;
    height: 510px;
    background: rgba(210, 206, 206, 0.11);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    position: relative;
    &--circle{
        margin: 70px 0;
        width: 240px;
        height: 240px;
        border-radius: 120px;
    }
    &--session{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &--blurCard{
        position: absolute;
        background: rgba(210, 206, 206, 0.11);
        backdrop-filter: blur(20px);
        z-index: 1;
        width: 160px;
        height: 475px;
        padding: 1rem .5rem;
        border-radius: 8px;
        left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}